fln {
    biru: #17377E;
    oren: #FF6600;
}
h1 a, h2 a {
    color: #C25100;
}
.header {
    background-color: #17377E;

}
h1 {
    color: white;
}
.page {
  width: 29.7cm;
  min-height: 21cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}
.row-print {
    height: 100px;
}