<!-- templates/delivery.html -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Scan Box - PT. Frina Lestari Nusantara</title>
  </head>
  <body onload="cekStatus()">
    <div class="container p-5 my-5 bg-dark text-white">
      <h1>Scan Box</h1>
    </div>
    <div class="container-fluid p-5 my-5 bg-dark text-white">
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="#" class="btn btn-success">+Buat Rencana Kirim</a>
        </div>
        <div class="col-sm-6 text-center">
          <a href="#" class="btn btn-success">+Lihat Rencana Kirim</a>
        </div>
      </div>
    </div>
    {% block content %}
    <div class="">
      <div class="text-right">
        <div class="sm-6"><p>Nomor surat jalan: {{ object.nomor_sj }} <button id="status" type="button" value="{{ object.status }}" class="btn btn-primary" disabled>{{ object.status }}</button></p></div>
        <div class="sm-6"><p>Tanggal : {{ object.tanggal }}</p></div>
      </div>
      <div id="jumlahLine" hidden>
        {{ object.rencanakirimdetails.all|length  }}
      </div>
      <div class="row">
      <form>
        <table class="table table-striped">
          <tr>
            <th class="">No.</th>
            <th class="">Part Number</th>
            <th class="">Part Number Cust.</th>
            <th class="">Description</th>
            <th class="">Box Qty</th>
            <th class="">Scan FLN Part Number</th>
            <th class="">Scan Cust. Part Number</th>
            <th>Scan QTY</th>
          </tr>
          {% for detail in object.rencanakirimdetails.all  %}
          <tr>
            <td class="">{{ detail.nomor_line }}</td>
            <td id="part_number{{ detail.nomor_line }}" class="">{{ detail.barang.part_number }}</td>
            <td id="part_number_customer{{ detail.nomor_line }}" class="">{{ detail.barang.part_number_customer }}</td>
            <td class="">{{ detail.barang.description }}</td>
            <td id='qty_box{{ detail.nomor_line }}' class="">{{ detail.qty }}</td>
            <td class=""><input id='scan{{ detail.nomor_line }}' type="text" value="" autofocus maxlength="18" size="18" oninput="cekPartNumber()" class="form-control" ></td>
            <td class=""><input id='scanb{{ detail.nomor_line }}' type="text" value="" autofocus maxlength="33" size="14" oninput="cekPartNumberB()" class="form-control" ></td>
            <td id="qty_scanned{{ detail.nomor_line }}">0</td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </form>
      <div>
        <form id="update" action="" method="post" hidden>{% csrf_token %}
          {{ form.as_table }}
          <input type="submit">
        </form>
      </div>
      </div>

    {% endblock content %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  <script>
    //var scanned = tambahScanned();
    var line = 1;
    var scanned = 0;
    var part_number_id =  "part_number" + line
    var part_number_customer_id = "part_number_customer" + line
    var scan_id =  "scan" + line
    var scanb_id = "scanb" + line
    var qty_scanned_id =  "qty_scanned" + line
    var qty_box_id =  "qty_box" + line
    var scan_id =  "scan" + line
    var jumlahLine = document.getElementById("jumlahLine").innerHTML;

    //ditambah 1 supaya berhenti setelah jumlah line terpenuhi
    jumlahLine = Number(jumlahLine) + 1;

    //var element_id = gantiElementId();

    function tambahScanned(){
      scanned = scanned + 1;
      document.getElementById(qty_scanned_id).innerHTML = scanned;
      //return scanned
    }

    function cekPartNumber(){
      //alert(scanb_id);
      var part_number =  document.getElementById(part_number_id).innerHTML;
      var part_number_scan =  document.getElementById(scan_id).value;
      var qty_scanned = document.getElementById(qty_scanned_id).innerHTML;
      var qty_box = document.getElementById(qty_box_id).innerHTML;
      var max_length = document.getElementById(scan_id).maxLength;
      var inputed_length = document.getElementById(scan_id).value.length;

      //alert(part_number + " " + part_number_scan);

      if (part_number == part_number_scan && max_length == inputed_length ){
        //tambahScanned();
        //alert(qty_scanned);
        gantiFokusB();
        //if (scanned == qty_box){
        //pakai timeout supaya scanner sempat ngetik
        //  setTimeout(gantiFokus, 1000);
          //alert(qty_box);
        //} else {
          //document.getElementById(scan_id).value = "OK";
          //kasih timeout supaya keliatan textnya
        //  setTimeout(clearInput, 1000);
          //alert("belum penuh kuota");
        //}
        document.getElementById(scan_id).classList.remove("is-invalid");
      } else {
        //alert("Part Tidak Sesuai!");
        setTimeout(clearInput, 5000);
        //jadikan input box merah
        //document.getElementById(scan_id).classList.add("");
        document.getElementById(scan_id).classList.add("is-invalid");
      }

    }

    function cekPartNumberB(){
      //alert(part_number_id);
      var part_number_customer =  document.getElementById(part_number_customer_id).innerHTML;
      var part_number_scanb =  document.getElementById(scanb_id).value;
      var qty_scanned = document.getElementById(qty_scanned_id).innerHTML;
      var qty_box = document.getElementById(qty_box_id).innerHTML;
      var max_length = document.getElementById(scan_id).maxLength;
      var inputed_length = document.getElementById(scanb_id).value.length;

      if (inputed_length == 32){
        part_number_scanb = trimPartNumber(part_number_scanb);
      }

      //alert(part_number + " " + part_number_scan);
      //alert('part cust:'+ part_number_customer + ' scanb:' + part_number_scanb + ' input_length:' + inputed_length);
      if (part_number_customer == part_number_scanb && inputed_length == 32 ){
        //alert('part number sama');
        tambahScanned();
        //alert(qty_scanned);
        if (scanned == qty_box){
          document.getElementById(scanb_id).disabled = true;
        //pakai timeout supaya scanner sempat ngetik
          setTimeout(gantiFokus, 1000);
          //alert(qty_box);
        } else {
          //document.getElementById(scan_id).value = "OK";
          //kasih timeout supaya keliatan textnya

          //setTimeout(clearInput, 1000);
          gantiFokusA();
          //alert("belum penuh kuota");
        }
        document.getElementById(scan_id).classList.remove("is-invalid");
      } else {
        //alert("Part Tidak Sesuai!");
        setTimeout(clearInput, 5000);
        //jadikan input box merah
        //document.getElementById(scan_id).classList.add("");
        document.getElementById(scan_id).classList.add("is-invalid");
      }

    }

    function gantiFokus(){
      document.getElementById(scan_id).disabled = true;
      element = gantiElementId();
      //alert("Scan = " + scan_id + " Qty box id = " + qty_box_id + " Qty scan = " + qty_scanned_id);
      //alert("Line= "+line+" Jumlah Line= "+jumlahLine);
      if (line < jumlahLine){
        document.getElementById(scan_id).focus();
      } else {
        alert("Scan Complete!");
        document.getElementById("id_status").selectedIndex = 1;
        document.forms["update"].submit();
        //alert(window.location.href);
        //window.location.replace = "localhost:8000/update_status/1"
      }
    }

    function gantiFokusB(){
      //alert('ganti fokus');
      document.getElementById(scanb_id).focus();
      document.getElementById(scan_id).disabled = true;
    }

    function gantiFokusA(){
      document.getElementById(scan_id).value = "";
      document.getElementById(scanb_id).value = "";
      document.getElementById(scan_id).disabled = false;
      document.getElementById(scan_id).focus();
    }

    function gantiElementId(){
      line = line + 1;
      part_number_id =  "part_number" + line;
      part_number_customer_id = "part_number_customer" + line;
      scan_id =  "scan" + line;
      scanb_id = "scanb" + line;
      qty_scanned_id =  "qty_scanned" + line;
      qty_box_id =  "qty_box" + line;
      //scan_id =  "scan" + line;
      scanned = 0
      //return [part_number_id, scan_id, qty_scanned_id, qty_box_id, scan_id];
    }

    function clearInput(){
      document.getElementById(scan_id).value = "";
    }

    function cekStatus(){
      stat = document.getElementById("status").value;
      //alert(stat);
      if(stat == "Scanned"){
        alert("sudah discan!");
        for (let field = 1; field <= jumlahLine - 1; field++){
          let scanBox = "scan" + field;
          //alert(jumlahLine);
          //alert(scanBox);
          document.getElementById(scanBox).disabled = true;
        }
      }
    }

    function trimPartNumber(part_number_scanb){
      //alert('trim dipanggil');
      part_number_scanb = part_number_scanb.substr(4, 13);
      part_depan = part_number_scanb.substr(0, 5);
      part_belakang = part_number_scanb.substr(5,13);
      part_number_scanb = part_depan.concat("-" + part_belakang);
      //alert(part_number_scanb);
      document.getElementById(scanb_id).value = part_number_scanb;
      return part_number_scanb;
    }

  </script>
  </body>
</html>
