{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <table class="table">
    <tr>
      <td><h1>Delivery Scan</h1></td>
      <td class="text-end"><a href="{% url 'view_rencana_kirim' %}" class="btn btn-success">Pilih Rencana Kirim</a></td>
    </tr>
    <tr>
      <td>Cycle: {{ object.cycle }}</td>
      <td class="text-end"> Status : <button id="status" type="button" value="{{ object.status }}" class="btn btn-primary" disabled>{{ object.status }}</button></td>
    </tr>
    <tr>
      <td>Tanggal rencana kirim : {{ object.tanggal|date:"l, d M Y" }}</td>
    </tr>
  </table>

  <div>
    <div id="jumlahLine" hidden>{{ object.rencanakirim.all|length  }}</div>
    <form>
      <table class="table table-striped">
        <tr>
          <th>No.</th>
          <th>Part Number</th>
          <th>Part Number Cust.</th>
          <th>Description</th>
          <th>Plan Delivery (PCS)</th>
          <th>Qty Per Box (PCS)</th>
          <th>Scan FLN Part Number</th>
          <th>Scan Customer Part Number</th>
          <th>Box Scanned</th>
          <th>PCS Scanned</th>
        </tr>
        {% for detail in object.rencanakirim.all  %}
        <tr>
          <td class="">{{ detail.no_line }}</td>
          <td id="part_number{{ detail.no_line }}" class="">{{ detail.barang.part_number }}</td>
          <td id="part_number_customer{{ detail.no_line }}" class="">{{ detail.barang.part_number_customer }}</td>
          <td class="">{{ detail.barang.description }}</td>
          <td id="qty_box{{ detail.no_line }}" class="">{{ detail.qty }}</td>
          <td id="qty_per_box{{ detail.no_line }}" class="">{{ detail.barang.qty_per_box }}</td>
          <td class=""><input id='scan{{ detail.no_line }}' type="text" value="" autofocus maxlength="18" size="18" oninput="cekPartNumber()" class="form-control" disabled ></td>
          <td class=""><input id='scanb{{ detail.no_line }}' type="text" value="" autofocus maxlength="32" size="14" oninput="cekPartNumberB()" class="form-control" disabled></td>
          <td id="qty_scanned{{ detail.no_line }}">0</td>
          <td id="qty_prod{{ detail.no_line }}">0</td>
        </tr>
        {% endfor %}
      </table>
    </form>
    <div>
      <form id="update" action="" method="post" hidden>{% csrf_token %}
        {{ form.as_table }}
        <input type="submit">
      </form>
    </div>
  </div>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script-->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  <script>
    //variable untuk menambahkan nomor id
    var line = 1;
    var scanned = 0;
    var part_number_id =  "part_number" + line
    var part_number_customer_id = "part_number_customer" + line
    var scan_id =  "scan" + line
    var scanb_id = "scanb" + line
    var qty_scanned_id =  "qty_scanned" + line
    var qty_box_id =  "qty_box" + line
    var scan_id =  "scan" + line
    var jumlahLine = document.getElementById("jumlahLine").innerHTML;
    var qty_prod_scanned_id = "qty_prod" + line
    var qty_per_box_id = "qty_per_box" + line
    var qty_per_box = document.getElementById(qty_per_box_id).innerHTML;

    //ditambah 1 supaya berhenti setelah jumlah line terpenuhi
    jumlahLine = Number(jumlahLine) + 1;
    //aktivasi field pertama untuk scan
    document.getElementById(scan_id).disabled = false;

    function tambahScanned(){
      scanned = scanned + 1;
      prod_scanned = scanned * qty_per_box;
      document.getElementById(qty_scanned_id).innerHTML = scanned;
      document.getElementById(qty_prod_scanned_id).innerHTML = prod_scanned;
      //return scanned
    }

    function cekPartNumber(){
      //alert(scanb_id);
      var part_number =  document.getElementById(part_number_id).innerHTML;
      var part_number_scan =  document.getElementById(scan_id).value;
      var qty_scanned = document.getElementById(qty_scanned_id).innerHTML;
      var qty_box = document.getElementById(qty_box_id).innerHTML;
      var max_length = document.getElementById(scan_id).maxLength;
      var inputed_length = document.getElementById(scan_id).value.length;

      //alert(part_number + " " + part_number_scan);
      //kembalikan maxlength dari fungsi trimPartNumber
      document.getElementById(scanb_id).maxLength = "32";

      if (part_number == part_number_scan && max_length == inputed_length ){
        //tambahScanned();
        //alert(qty_scanned);
        document.getElementById(scanb_id).disabled = false;
        gantiFokusB();
        //if (scanned == qty_box){
        //pakai timeout supaya scanner sempat ngetik
        //  setTimeout(gantiFokus, 1000);
          //alert(qty_box);
        //} else {
          //document.getElementById(scan_id).value = "OK";
          //kasih timeout supaya keliatan textnya
        //  setTimeout(clearInput, 1000);
          //alert("belum penuh kuota");
        //}
        document.getElementById(scan_id).classList.remove("is-invalid");
      } else {
        //alert("Part Tidak Sesuai!");
        setTimeout(clearInput, 1000);
        //jadikan input box merah
        //document.getElementById(scan_id).classList.add("");
        document.getElementById(scan_id).classList.add("is-invalid");
      }

    }

    //scan part number customer
    function cekPartNumberB(){
      //alert(part_number_id);
      var part_number_customer =  document.getElementById(part_number_customer_id).innerHTML;
      var part_number_scanb =  document.getElementById(scanb_id).value;
      var qty_scanned = document.getElementById(qty_scanned_id).innerHTML;
      var qty_box = document.getElementById(qty_box_id).innerHTML; //qty_box berubah menjadi qty PCS (Plan Delivery)
      var max_length = document.getElementById(scan_id).maxLength;
      var inputed_length = document.getElementById(scanb_id).value.length;
      var pnc_length = part_number_customer.length;

      if (pnc_length == 11){
        if (inputed_length == 29){
          part_number_scanb = trimPartNumber(part_number_scanb);
          part_number_scanb = part_number_scanb.substr(0,11);
        }
      } else if (pnc_length == 13 ) {
        if (inputed_length == 31){
          part_number_scanb = trimPartNumber(part_number_scanb);
          part_number_scanb = part_number_scanb.substr(0,13);
        }
      } else if (pnc_length == 14) {
        if (inputed_length == 32){
          part_number_scanb = trimPartNumber(part_number_scanb);
        }
      } else {
        alert("Panjang Part Number Customer Tidak Standar!")
      }
      //hasil scan qr code hyundai ditrim menjadi part number saja
      //if (inputed_length > 30){
      //    part_number_scanb = trimPartNumber(part_number_scanb);
      //}

      //alert(part_number + " " + part_number_scan);
      //alert('part cust:'+ part_number_customer + ' scanb:' + part_number_scanb + ' input_length:' + inputed_length);
      //part_number_customer dikurangi 1 digit di belakang
      //part_number_customer = part_number_customer.substr(0,13);

      
      if (part_number_customer == part_number_scanb ){
        //alert('part cust:'+ part_number_customer + ' scanb:' + part_number_scanb + ' input_length:' + inputed_length);
        tambahScanned();
        
        if (scanned * qty_per_box == qty_box){
          document.getElementById(scanb_id).disabled = true;
          //pakai timeout supaya scanner sempat ngetik
          setTimeout(gantiFokus, 1000);
          //alert(qty_box);
        } else {
          //document.getElementById(scan_id).value = "OK";
          //kasih timeout supaya keliatan textnya

          //setTimeout(clearInput, 1000);
          setTimeout(gantiFokusA, 1000);
          //alert("belum penuh kuota");
        }
        document.getElementById(scanb_id).classList.remove("is-invalid");
      } else {
        //alert("Part Tidak Sesuai!");
        setTimeout(clearInputB, 1000);
        //jadikan input box merah
        document.getElementById(scanb_id).classList.add("is-invalid");
      }
    }
    //fungsi ini untuk pindah ke line berikutnya
    function gantiFokus(){
      document.getElementById(scan_id).disabled = true;
      element = gantiElementId();
      //alert("Scan = " + scan_id + " Qty box id = " + qty_box_id + " Qty scan = " + qty_scanned_id);
      //alert("Line= "+line+" Jumlah Line= "+jumlahLine);
      if (line < jumlahLine){
        document.getElementById(scan_id).disabled = false;
        document.getElementById(scan_id).focus();
      } else {
        alert("Scan Complete!");
        document.getElementById("id_status").selectedIndex = 1;
        document.forms["update"].submit();
        //alert(window.location.href);
        //window.location.replace = "localhost:8000/update_status/1"
      }
    }
    //fungsi ini untuk pindah ke input box kanan
    function gantiFokusB(){
      //alert('ganti fokus');
      document.getElementById(scanb_id).focus();
      document.getElementById(scan_id).disabled = true;
    }
    //fungsi ini untuk pindah ke input box kiri
    function gantiFokusA(){
      document.getElementById(scan_id).value = "";
      document.getElementById(scanb_id).value = "";
      document.getElementById(scan_id).disabled = false;
      document.getElementById(scan_id).focus();
      document.getElementById(scanb_id).disabled = true;
    }

    function gantiElementId(){
      line = line + 1;
      part_number_id =  "part_number" + line;
      part_number_customer_id = "part_number_customer" + line;
      scan_id =  "scan" + line;
      scanb_id = "scanb" + line;
      qty_scanned_id =  "qty_scanned" + line;
      qty_box_id =  "qty_box" + line;
      //scan_id =  "scan" + line;
      scanned = 0
      qty_prod_scanned_id = "qty_prod" + line;
      //return [part_number_id, scan_id, qty_scanned_id, qty_box_id, scan_id];
    }

    function clearInput(){
      document.getElementById(scan_id).value = "";
    }

    function clearInputB(){
      document.getElementById(scanb_id).value = "";
    }

    function cekStatus(){
      stat = document.getElementById("status").value;
      //alert(stat);
      if(stat == "Scanned"){
        alert("sudah discan!");
        for (var field = 1; field <= jumlahLine - 1; field++){
          var scanBox = "scan" + field;
          var scanBoxb = "scanb" + field;
          //alert(jumlahLine);
          //alert(scanBox);
          document.getElementById(scanBox).disabled = true;
          document.getElementById(scanBoxb).disabled = true;
        }
      }
    }

    function trimPartNumber(part_number_scanb){
      //alert('trim dipanggil');
      part_number_scanb = part_number_scanb.substr(4, 13); //dikurangi dari 13 ke 12, kode warna 2 digit saja
      part_depan = part_number_scanb.substr(0, 5);
      part_belakang = part_number_scanb.substr(5,13); //ikut jadi 12
      part_number_scanb = part_depan.concat("-" + part_belakang);
      //alert(part_number_scanb);
      //document.getElementById(scanb_id).value = "";
      //untuk fix box merah waktu scan panjang 32 lebih, maxlength dipotong
      document.getElementById(scanb_id).maxLength = "13";
      document.getElementById(scanb_id).value = part_number_scanb;
      return part_number_scanb;
    }

  </script>
  <script type="text/javascript">
    window.onload = function() {
      cekStatus();
      document.getElementById("scan1").focus();
      }
  </script>

{% endblock content %}
