{% load static %}
<html>
<body onload="window.print()">
    {% block content %}
    <img src="{% static 'images/' %}{{ part_number }}.jpg"/><br>
    <img src="{% static 'images/' %}{{ part_number }}.jpg"/><br>
    <img src="{% static 'images/' %}{{ part_number }}.jpg"/><br>
    <img src="{% static 'images/' %}{{ part_number }}.jpg"/><br>
    <img src="{% static 'images/' %}{{ part_number }}.jpg"/><br>
    <img src="{% static 'images/' %}{{ part_number }}.jpg"/><br>
    {% endblock content %}
</body>
</html>