{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Update Rencana Kirim</h1>
    <form action="" method="post">{% csrf_token %}
        <table class="table">
        {{ form.as_table }}
        </table>
        <h3>Daftar Barang</h3>
        <table class="table table-striped">
            {{ konteks.management_form }}

            {% for form in konteks.forms %}
                {% if forloop.first %}
                    <thead>
                        <tr> {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %} formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <!--table class="table table-striped">
            {{ konteks.as_table }}
        </table-->
        <input type="submit" value="Save" class="btn btn-success" />
    </form>
</div>
    <script src="{% static 'js/jquery-3.6.1.min.js'%}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!--script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script-->
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}" async=""></script>

    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script-->
    <!--link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script-->
    <link href="{% static 'css/select2.min.css' %}"/>
    <script src="{% static 'js/select2.min.js' %}" /></script>

<script type="text/javascript">
    function searchInSelect() {
        $('.select2').select2({
            theme: 'bootstrap-5',
            allowClear: false,
            placeholder: 'Pilih Barang',
        });
    }
</script>

<script type="text/javascript">
    $('.formset_row').formset({
        addCssClass: 'btn btn-primary',
        addText: 'Tambah Barang',
        deleteCssClass: 'text-danger text-decoration-none',
        deleteText: 'x',
        prefix: 'rencanakirimdetails'
    });
</script>
<script>
      $( function() {
        $( "#id_tanggal" ).datepicker({
        dateFormat: 'yy-mm-dd',
        });
      } );
</script>
<!--Script Select2 dan fix untuk jquery 3.6 -->
<script>
    $(document).ready(searchInSelect());
    document.getElementById('tambah').setAttribute('onclick','searchInSelect()');
</script>
<script>
     $(document).on('select2:open', () => {
        document.querySelector('.select2-search__field').focus();
      });
</script>
{% endblock content %}